{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Contraseña Restablecida</title>
  <link rel="stylesheet" href="{% static 'css/cambiar_contraseña.css' %}?v={% now 'U' %}">
</head>
<body>
  <div class="main-container">
    <img src="{% static 'img/inntesec_logo_negro.png' %}" alt="Inntesec" class="intesec-logo">

    <div class="password-container">
      <button id="theme-switcher"></button>
      <h1>Contraseña actualizada correctamente</h1>
      <p>Tu contraseña ha sido restablecida. Ya puedes iniciar sesión con tu nueva clave.</p>
      <div class="back-to-login">
        <a href="{% url 'login' %}">Volver al inicio de sesión</a>
      </div>
    </div>
  </div>

  <script src="{% static 'js/theme-switcher.js' %}"></script>
</body>
</html>
